.single-container
  ​
  %header.single-header
    %h1
      = link_to root_path do
        = image_tag "logo-1.svg" , alt: "mercari"
  ​
  %main.single-main
    %section.l-single-container
      %h2.l-single-head.registration 会員登録完了
      ​
      .l-single-inner.registration-form
        %center
          ありがとうございます。
          %br/
          会委員登録が完了しました。
        %br/
        %br/
        .l-single-content
          ​
          = link_to root_path, class:"btn-default btn-mail" do
            %i.icon-mail
            メルカリをはじめる
          ​
  = render "footer"