.container
  .header
    %h1 mercari (icon挿入)
    .nav
      %ul.nav_contnet
        %li 会員情報
        %li 電話番号認証
        %li お届け先住所入力
        %li 支払い情報
        %li 完了
  .main
    .main-header
      %h2 電話番号の確認
    .main-form
      .form-group
        = form_for @address, url: step3_signup_index_path, method: :get, html: {class: 'second-wrapper__box'} do |f|
          = f.label :携帯電話の番号
          = f.text_field :phone_number, placeholder: '携帯電話の番号を入力'
          %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          = f.submit 'SMSを送信する', class: 'form__submit'
          %P ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。

  .footer
    .nav
      %ul.nav_contnet
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li 特定商取引に関する表記
    .footer-logo
      %img{src:""}
      %p © Mercari, Inc.

