%nav.bread-crumbs
  %ul
    %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %a{href: "https://www.mercari.com/jp/", itemprop: "url"}
        %span{itemprop: "title"} メルカリ
      %i.icon-arrow-right
    %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %span{itemprop: "title"} マイページ