%link{:href => "https://use.fontawesome.com/releases/v5.7.2/css/all.css", :rel => "stylesheet"}/
.default-container
  %header.pc-header2.visible-pc
    .pc-header-inner
      .pc-header-top
        %h1
          = link_to root_path do
            = image_tag "logo-1.svg", alt: "mercari", height: "36", width: "134"
        %form.pc-header-form{action: "https://www.mercari.com/jp/search/"}
          %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
          %i.fas.fa-search{action: "https://www.mercari.com/jp/search/"}
      .pc-header-nav-box.clearfix
        %nav.l-left
          %ul.gnav
            %i.fas.fa-align-justify
            =render "category"
            %i.fas.fa-external-link-alt 
            =render "bland"

        .sc-eXEjpC.fzedbE
          %a.sc-RefOD.jwHbWf{:href => ""}
            .sc-bsbRJL.gKKfZH
            %i.fas.fa-check
            やることリスト
            
          %a.sc-RefOD.jwHbWf{:href => ""}
            .sc-bsbRJL.gKKfZH
            %i.far.fa-bell
            お知らせ

          %a.sc-RefOD.jwHbWf{:href => ""}
            .sc-bsbRJL.gKKfZH
            %i.far.fa-heart
            いいね！一覧 

          %a.sc-RefOD.jwHbWf{:href => ""}
            .sc-bsbRJL.gKKfZH
              = image_tag "member_photo_noimage_thumb.png", alt: "", height: "", width: "100%"
            マイページ