.default-container
  %header.pc-header.visible-pc
    .pc-header-inner
      .pc-header-top
        %h1
          %a{href: "https://www.mercari.com/jp/"}
            %img{alt: "mercari", height: "36", src: "image/logo-1.svg", width: "134"}/
        %form.pc-header-form{action: "https://www.mercari.com/jp/search/"}
          %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
          %i.icon-search
      .pc-header-nav-box.clearfix
        %nav.l-left
          %ul.pc-header-nav
            %li
              %h2
                %a.pc-header-nav-root.list-parent{href: "https://www.mercari.com/jp/category/"}
                  %i.icon-list.pc-header-cat-brand-icon
                  %span カテゴリーから探す
              %ul.pc-header-nav-parent-wrap{"data-mega": "1"}
                %li.pc-header-nav-parent
            %li
              %h2
                %a.pc-header-nav-root.list-parent{href: "https://www.mercari.com/jp/brand/"}
                  %i.icon-tag.pc-header-cat-brand-icon
                  %span ブランドから探す
                %ul.pc-header-nav-parent-wrap
                  %li.pc-header-nav-parent
                    %h3  
                  %li.pc-header-nav-parent