= render "header"
= render "bread-crumbs"
%main.l-container.clearfix
  .l-content
    %section.l-chapter-container
      %h2.l-chapter-head 支払い方法
      .l-single-inner
        %section
          .l-single-content
            %h3.l-chapter-sub-head クレジットカード一覧
          %ul.settings-payment-list
            %li
              %form.l-single-content{action: "https://www.mercari.com/jp/mypage/card/delete/", method: "POST"}
                %figure
                  %img{alt: "visa", height: "15", src: "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?82960919", width: "49"}/
                %input{name: "__csrf_value", type: "hidden", value: ""}/
                %input{name: "card_sequence_no", type: "hidden", value: "tcWVc5kinsmpqmF4E5QeSfcc"}/
                .settings-payment-num ************0000
                .settings-payment-num 00 / 00
                %input{name: "method", type: "hidden", value: "card"}/
                %button.settings-payment-remove{type: "submit"}
                  削除する
        .settings-not-regist
          %a{href: "/jp/help_center/category/6/", target: "_blank"}
            %span 支払い方法について
            %i.icon-arrow-right
  .l-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/"}
            マイページ
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/notification/"}
            お知らせ
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/todo/"}
            やることリスト
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/like/history/"}
            いいね！一覧
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/sell/"}
            出品する
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/listings/listing/"}
            出品した商品 - 出品中
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/listings/in_progress/"}
            出品した商品 - 取引中
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/listings/completed/"}
            出品した商品 - 売却済み
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/purchase/"}
            購入した商品 - 取引中
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/purchased/"}
            購入した商品 - 過去の取引
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/news/"}
            ニュース一覧
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/review/history/"}
            評価一覧
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/help_center/"}
            ガイド
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/support/"}
            お問い合わせ
            %i.icon-arrow-right
      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/sales/"}
            売上・振込申請
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/point/"}
            ポイント
            %i.icon-arrow-right
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/profile/"}
            プロフィール
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/deliver_address/"}
            発送元・お届け先住所変更
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/card/"}
            支払い方法
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/email_password/"}
            メール/パスワード
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/identification/"}
            本人情報
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item{href: "/jp/mypage/sms_confirmation/"}
            電話番号の確認
            %i.icon-arrow-right
        %li
          %a.mypage-nav-list-item.active{href: "/jp/logout/"}
            ログアウト
            %i.icon-arrow-right
= render "footer"