%li.category02
  %a{:href => ""} ブランドより探す
  %ul
    %li
      %a{:href => ""} シャネル
    %li
      %a{:href => ""} ナイキ
    %li
      %a{:href => ""} アディダス
    %li
      %a{:href => ""} ヴィトン
    %li
      %a{:href => ""} シュープリーム