%li
  %a{:href => ""}ブランドから探す
  %ul
    %li.bb
      %a{:href => ""} シャネル
    %li
      %a{:href => ""} ナイキ
    %li
      %a{:href => ""} ルイ・ヴィトン
    %li
      %a{:href => ""} シュープリーム
    %li
      %a{:href => ""} アディダス
